/* Created by: Graeme
 * Created on: Mar 7 2022
 * This CSS file defines the style for index.html 
*/

body {
	background-color: lightgray;
}
	
.Original_6 {
	max-width: 27%
}

p {
	font-size: 25px;	
}

.team{
	max-width: 18%
}

table {
	text-align: center;
}