/* Created by: Graeme
 * Created on: Mar 7 2022
 * This CSS file defines the style for index3.html 
*/

body {
	background-color: #a8151e;
}

h2 {
	background-color: #001c63;
	color: rgb(255, 255, 255);
	padding: 20px;
	text-align: center;
}

.team {
	max-width: 30%
}

p {
	color: rgb(255, 255, 255);
	font-size: 25px;
	text-align: center;
}

.team2 {
	max-width: 100%
}